@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    background-color: rgb(30, 30, 53);
    font-family: "Quicksand";
}

.topic {
    width: 90%;
    max-width: 600px;
    background-color: rgb(171, 171, 204);
    margin: auto;
    margin-bottom: 1em;
    padding: 0.5em;;
    border-radius: 5px;
}

.topic-header {
    text-align: center;
    margin-bottom: 0;
}

.notes {
    text-align: center;
    margin: auto;
    margin-top: 0;
    width: 80%;
}

a {
    color: inherit;
}

